.about {
    display: flex;
    background: linear-gradient(243.18deg, #373737 0%, #202020 100%);

    .about-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .who-card {
            padding-right: 30rem;

            .who-title {
                color: $mango-yellow;
                font-size: $f-xl;
                margin-right: 1rem;
                font-weight: $regular;

            }

            .who-info {
                width: 25rem;
                color: $light-gray;
            }
        }

        .what-card {
            padding-left: 30rem;

            .what-title {
                color: $mango-yellow;
                font-size: $f-xl;
                margin-right: 1rem;
                font-weight: $regular;

            }

            .what-info {
                width: 25rem;
                color: $light-gray
            }
        }



        .button-container {
            display: flex;
            align-items: center;
            /* margin-top: auto; */
            margin-bottom: -3rem;

            .about-in-line {
                display: block;
                position: absolute;
                left: 0%;
                width: 10rem;
                height: 1px;
                background-color: $mango-yellow;
                box-shadow:
                    0px 0px 10px $muted-yellow,
                    0px 0px 20px $warm-yellow,
                    0px 0px 25px $warm-yellow, ;
                animation: aboutInLine 2.5s ease-in-out forwards;
                animation-delay: 1s;
            }




            .start {
                position: relative;
                background-color: transparent;
                border: 2px solid $mango-yellow;
                border-radius: 1rem;
                color: $mango-yellow;
                font-size: $f-md;
                line-height: 1.5rem;
                font-weight: $regular;
                padding: 0.5rem;
                text-align: center;
                box-shadow: 0px 0px 10px $mango-yellow, inset 0px 0px 10px $mango-yellow;

                &:hover {
                    box-shadow: 0px 0px 15px $mango-yellow, inset 0px 0px 15px $mango-yellow;
                }
            }



            .about-line-out {
                animation: aboutLineOut 2.5s forwards;
            }


        }
    }
}