.finish {
    background: linear-gradient(243.18deg, #202020 0%, #373737 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



    .result {
        color: $mango-yellow;
        font-size: $f-sm;
        margin-top: -1rem;

        @include desktop {
            font-size: $f-lg;
            margin-top: 0rem;
        }
    }



    .answers {
        display: flex;
        flex-direction: row;
        width: 15rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        @include desktop {
            flex-direction: row;
            width: 100vw;
        }

        .answers-block {
            display: flex;
            flex-direction: column;
            margin: 0rem;
            color: $light-gray;
            padding: 0.1rem;
            border-radius: 1rem;

            @include desktop {
                margin: 3rem 4rem 3rem 4rem;
                padding: 1rem;
                border: $mango-yellow 1px solid;

            }

            .question-check {
                color: $mango-yellow-hover;
                align-self: center;
                margin: 0.5rem 0.5rem 0.1rem 0.5rem;
                font-size: $f-xxxs;
                text-decoration: underline;
                text-underline-offset: 0.1rem;

                @include desktop {
                    font-size: $f-md;
                    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
                }
            }

            .user-box {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: 0.3rem;

                @include desktop {
                    flex-direction: row;
                }

                .user {
                    color: $mango-yellow-bright;
                    font-size: $f-xxxxms;

                    @include desktop {
                        font-size: $f-xs;
                        margin-right: 0.3rem;
                    }
                }

                .answer {
                    color: white;
                    font-size: $f-xxxxms;

                    @include desktop {
                        font-size: $f-xs;
                        margin-right: 0.5rem;
                    }


                }

                .correct-answer {
                    color: rgb(27, 169, 27);
                }

                .wrong-answer {
                    color: rgb(255, 41, 41);
                }
            }


        }

    }

    .finish-message {
        color: $light-gray;

        h2 {
            color: $mango-yellow;
            font-size: $f-xxxs;
            width: 30vw;
            text-align: center;

            @include desktop {
                font-size: $f-md;
            }
        }

        p {
            color: $light-gray;
        }
    }

    .links {
        display: flex;
        align-items: center;
        justify-content: center;


        a {
            cursor: url('src/assets/cursor5.png'), pointer;

            margin: 1rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                cursor: url('src/assets/cursor5.png'), pointer;
                transition: cursor 1s;

                @include desktop {
                    width: 3rem;
                    height: 3rem;
                    transition: scale 0.3s;
                }


                &:hover {
                    cursor: url('src/assets/hover.png'), pointer;
                    opacity: 0.6;
                    scale: 1.1;
                }

                &:active {
                    cursor: url('src/assets/active.png'), pointer;
                }
            }

            .phone {
                height: 1.2rem;
                width: 1.2rem;

                @include desktop {
                    width: 2.6rem;
                    height: 2.6rem;
                }
            }
        }
    }

}