header {
    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 1;


    .circle {
        .spinning-img {
            animation: spin 20s linear infinite;
            width: 5em;
        }

        &:hover {
            .spinning-img {
                animation-play-state: paused;
                cursor: url('src/assets/cursorHover.png'), pointer;
            }
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        margin-right: 1rem;

        .hamburger-menu {
            display: flex;
            flex-direction: row-reverse;
            background: none;
            border: none;
            flex-wrap: wrap;
            width: 3rem;


            .square {
                border: 1px solid $mango-yellow;
                border-radius: 6px 0px 6px 0px;
                width: 15px;
                height: 15px;

            }



            .top-left {
                background: transparent;

            }


            .top-right {
                background: transparent;
            }


            .bottom-right {
                background: transparent;

            }
        }

    }

}