.landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: linear-gradient(296.76deg, #202020 0.61%, #373737 100%);
    overflow: hidden;


    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;


        .hello {
            box-sizing: content-box;
            display: flex;
            margin-bottom: 1rem;
            flex-grow: 1;
            justify-content: center;
            align-items: center;

            @include desktop {
                margin-bottom: 5rem;
            }

            h1 {
                font-size: $f-md;

                @include desktop {
                    color: $mango-yellow;
                    font-size: $f-xl;
                    margin-right: 1rem;
                    font-weight: $regular;
                }

            }

            .words {
                overflow: hidden;
                height: 2.8vh;
                background-color: $mango-yellow ;
                border-radius: 0.5rem;

                @include desktop {
                    height: 7vh;
                }

                span {
                    display: block;
                    color: $dark-gray;
                    font-size: $f-md;
                    font-weight: $semi-bold;
                    animation: rotating_words 6s infinite;
                    padding: 0rem 0.5rem 0rem 0.5rem;


                    @include desktop {
                        font-size: $f-xl;
                        padding: 0rem 0.5rem 0rem 0.5rem;

                    }
                }
            }


        }

        .introduction {
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            width: 50%;

            @include desktop {
                flex-grow: 1;
                width: 40%;
            }

            .me {
                color: $light-gray;
                font-size: $f-md;
                margin-bottom: 1rem;
                font-weight: $extra-light;

                @include desktop {
                    font-size: $f-lg;
                }

                .first-name {
                    color: $mango-yellow;
                    font-size: $f-md;
                    font-weight: $medium;

                    @include desktop {
                        font-size: $f-lg;
                    }
                }

            }

            .introduction-text {
                font-size: $f-xxs;
                width: 10rem;
                margin: 0rem;
                color: $light-gray;
                font-weight: $extra-light;

                @include desktop {
                    font-size: $f-md;
                    width: 20rem;
                }



                .work-title {
                    color: $mango-yellow;
                    font-size: $f-xxs;
                    line-height: 1.5rem;
                    font-weight: $medium;


                    @include desktop {
                        font-size: $f-md;
                    }


                }

            }
        }

        .continue {
            display: flex;
            align-items: center;
            width: 50%;
            margin-bottom: 1rem;
            margin-left: 6rem;
            position: relative;

            .match {
                color: $light-gray;
                font-size: $f-md;
                font-weight: $regular;

            }

            .find-out {
                background-color: transparent;
                border: 1px solid transparent;
                border-radius: 1rem;
                color: $mango-yellow;
                font-size: $f-md;
                line-height: 1.5rem;
                font-weight: $regular;
                padding: 0.5rem;
                margin-left: 0.5rem;

                &:hover {
                    border: 1px solid $mango-yellow;
                    border-radius: 0.5rem;
                    cursor: url('src/assets/hover.png'), pointer;

                    box-shadow: 0px 0px 5px $muted-yellow,
                        0px 0px 0px $warm-yellow, 0px 0px 0px $warm-yellow;
                }
            }



        }
    }

    .silhouette {
        display: flex;
        flex-direction: column;

        img {
            width: 50%;
            height: auto;

            @include desktop {
                width: 100%;

            }



        }





    }
}