/*  Variables */

// Font weight

$thin: 100;
$extra-light: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 800;
$bold: 900;



// Font size

$f-xxs: 0.50rem;
$f-xs: 0.75rem;
$f-sm: 0.875rem;
$f-md: 1rem;
$f-lg: 2rem;
$f-xl: 3vw;
$f-xxl: 4rem;
$f-xxxl: 4.5rem;


// Color

$black: rgb(0, 0, 0);
$black-gray: rgb(32, 32, 32);
$dark-gray: rgb(51, 51, 51);
$medium-gray: rgb(102, 102, 102);
$light-gray: rgb(204, 204, 204);

$warm-yellow: rgb(255, 204, 0);
$muted-yellow: rgb(255, 204, 153);
$mango-yellow: rgb(255, 153, 51);
$mango-yellow-hover: rgb(220, 125, 31);
$green-blue: rgb(0, 120, 140);
$purple-red: rgb(140, 0, 120);
$red: rgb(204, 0, 51);
$forest-green: hsl(120, 45%, 35%);



/* Animations */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes stop-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);

    }
}



@keyframes rotating_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-312%);
    }

    75% {
        transform: translateY(-300%);
    }

    85% {
        transform: translateY(-412%);
    }

    100% {
        transform: translateY(-400%);
    }

}

@keyframes clickAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-left {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}


// Question one animation

@keyframes question-one-animation {

    0% {
        transform: translateY(0%) rotate(0deg);
    }



    100% {


        transform: translateX(-100%) translateY(0%);
    }
}

// Question two animation

@keyframes question-two-animation {

    0% {
        transform: translateX(-100%) translateY(0%);
    }



    100% {


        transform: translateX(-100%) translateY(-100%);
    }
}

// Question three animation

@keyframes question-three-animation {

    0% {
        transform: translateX(-100%) translateY(-100%);
    }



    100% {


        transform: translateX(0%) translateY(-100%);
    }
}


// Container Animations

// Dev mode
/* 
@keyframes right-animation {

    0% {
        transform: translateZ(-100vw) rotateY(0deg);
    }


    20% {
        transform: translateZ(-150vw) rotateY(0deg);
    }

    30% {
        transform: translateZ(-150vw) rotateY(5deg);
    }

    65% {
        transform:

            translateZ(-150vw) rotateY(-95deg);
    }

    80% {
        transform:

            translateZ(-150vw)rotateY(-90deg);
    }

    100% {
        transform:
            translateZ(-100vw) rotateY(-90deg);
    }
}


@keyframes back-animation {

    0% {
        transform: translateZ(-100vw) rotateY(-90deg);
    }


    20% {
        transform: translateZ(-150vw) rotateY(-90deg);
    }

    30% {
        transform: translateZ(-150vw) rotateY(-85deg);
    }

    65% {
        transform:

            translateZ(-150vw) rotateY(-185deg);
    }

    80% {
        transform:

            translateZ(-150vw) rotateY(-180deg);
    }

    100% {
        transform:

            translateZ(-100vw) rotateY(-180deg);
    }
}


@keyframes bottom-animation {

    0% {
        transform: translateZ(-100vw) rotateY(-180deg);
    }


    20% {
        transform: translateZ(-150vw) rotateY(-180deg);
    }

    30% {
        transform: translateZ(-150vw) rotateY(-180deg) rotateX(5deg);
    }

    65% {
        transform:

            translateZ(-150vw) rotateY(-180deg) rotateX(-100deg);
    }

    80% {
        transform:

            translateZ(-150vw) rotateY(-180deg) rotateX(-90deg);
    }

    100% {
        transform:

            translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
    }
}

@keyframes left-animation {

    0% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
    }


    20% {
        transform: translateZ(-150vw) rotateY(-180deg) rotateX(-90deg);
    }

    30% {
        transform: translateZ(-150vw) rotateY(-180deg) rotateX(-100deg);
    }

    65% {
        transform:

            translateZ(-150vw) rotateY(-270deg) rotateX(10deg);
    }

    80% {
        transform:

            translateZ(-150vw) rotateY(-270deg) rotateX(0deg);
    }

    100% {
        transform: translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
    }
}

@keyframes top-animation {

    0% {
        transform: translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
    }


    20% {
        transform: translateZ(-150vw) rotateX(1deg) rotateY(90deg);
    }

    30% {
        transform: translateZ(-150vw) rotateX(6deg) rotateY(90deg);
    }

    65% {
        transform:

            translateZ(-150vw) rotateX(-95deg) rotateY(90deg);
    }

    80% {
        transform:

            translateZ(-150vw) rotateX(-90deg) rotateY(90deg);
    }

    100% {
        transform:

            translateZ(-100vw) rotateX(-90deg) rotateY(90deg);
    }
} */


// Production mode

@keyframes right-animation {

    0% {
        transform: translateZ(-50vw) rotateY(0deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(0deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(5deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-95deg);
    }

    80% {
        transform:

            translateZ(-100vw)rotateY(-90deg);
    }

    100% {
        transform:

            translateZ(-50vw) rotateY(-90deg);
    }
}


@keyframes back-animation {

    0% {
        transform: translateZ(-50vw) rotateY(-90deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(-90deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(-85deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-185deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateY(-180deg);
    }

    100% {
        transform:

            translateZ(-50vw) rotateY(-180deg);
    }
}

@keyframes bottom-animation {

    0% {
        transform: translateZ(-50vw) rotateY(-180deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(-180deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(5deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
    }

    100% {
        transform:

            translateZ(-23vw) rotateY(-180deg) rotateX(-90deg);
    }
}

@keyframes left-animation {

    0% {
        transform: translateZ(-23vw) rotateY(-180deg) rotateX(-90deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-270deg) rotateX(10deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
    }

    100% {
        transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
    }
}

@keyframes top-animation {

    0% {
        transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
    }


    20% {
        transform: translateZ(-100vw) rotateX(1deg) rotateY(90deg);
    }

    30% {
        transform: translateZ(-100vw) rotateX(6deg) rotateY(90deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateX(-95deg) rotateY(90deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateX(-90deg) rotateY(90deg);
    }

    100% {
        transform:

            translateZ(-23vw) rotateX(-90deg) rotateY(90deg);
    }
}