.result-greeting {
    background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10vw;

    .greeting-content {



        .show-content {
            display: flex;
            flex-direction: column;

            h1 {
                color: $light-gray;
                font-size: $f-xxl;
                font-weight: $light;
                margin: -0.1rem;

                @include desktop {
                    font-size: $f-xl;
                }

                .username {
                    font-size: $f-xxl;
                    color: $mango-yellow;
                    font-weight: $medium;

                    @include desktop {
                        font-size: $f-xl;
                    }
                }
            }

            .paragraph-1 {
                color: $light-gray;
                width: 80vw;
                margin-top: 1rem;
                margin-bottom: 1rem;
                padding: 0rem;

                @include desktop {
                    width: 25vw;
                }

                .role {
                    font-size: $f-md;
                    color: $mango-yellow;
                    font-weight: $medium;
                }

                .company {
                    font-size: $f-md;
                    color: $mango-yellow;
                    font-weight: $medium;
                }
            }

            .paragraph-2 {
                color: $light-gray;
                width: 80vw;
                /* margin-top: 1rem; */
                margin-bottom: 1rem;
                padding: 0rem;

                @include desktop {
                    width: 25vw;
                }
            }

            .result-link {
                color: $light-gray;
                opacity: 1;
                animation: slide-in-animation 0.5s ease-in-out forwards;
                padding: 0rem;

                button {
                    background-color: transparent;
                    color: $mango-yellow;
                    font-style: italic;
                    border: none;
                    padding: 0;

                    &:hover {
                        color: $muted-yellow;
                    }
                }
            }
        }
    }
}