/*  Variables */
/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-hover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(900deg);
  }
}
@keyframes rotating_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
@keyframes clickAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes landingLine {
  0% {
    width: 0%;
  }
  100% {
    width: 210%;
  }
}
@keyframes aboutInLine {
  0% {
    width: 0%;
    visibility: visible;
  }
  100% {
    width: 45.3%;
  }
}
@keyframes question-one-animation {
  0% {
    transform: translateY(0%) rotate(0deg);
  }
  100% {
    transform: translateX(-100%) translateY(0%);
  }
}
@keyframes question-two-animation {
  0% {
    transform: translateX(-100%) translateY(0%);
  }
  100% {
    transform: translateX(-100%) translateY(-100%);
  }
}
@keyframes question-three-animation {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translateX(0%) translateY(-100%);
  }
}
@keyframes right-animation {
  0% {
    transform: translateZ(-100vw) rotateY(0deg);
  }
  20% {
    transform: translateZ(-150vw) rotateY(0deg);
  }
  30% {
    transform: translateZ(-150vw) rotateY(5deg);
  }
  65% {
    transform: translateZ(-150vw) rotateY(-95deg);
  }
  80% {
    transform: translateZ(-150vw) rotateY(-90deg);
  }
  100% {
    transform: translateZ(-100vw) rotateY(-90deg);
  }
}
@keyframes back-animation {
  0% {
    transform: translateZ(-100vw) rotateY(-90deg);
  }
  20% {
    transform: translateZ(-150vw) rotateY(-90deg);
  }
  30% {
    transform: translateZ(-150vw) rotateY(-85deg);
  }
  65% {
    transform: translateZ(-150vw) rotateY(-185deg);
  }
  80% {
    transform: translateZ(-150vw) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-100vw) rotateY(-180deg);
  }
}
@keyframes bottom-animation {
  0% {
    transform: translateZ(-100vw) rotateY(-180deg);
  }
  20% {
    transform: translateZ(-150vw) rotateY(-180deg);
  }
  30% {
    transform: translateZ(-150vw) rotateY(-180deg) rotateX(5deg);
  }
  65% {
    transform: translateZ(-150vw) rotateY(-180deg) rotateX(-100deg);
  }
  80% {
    transform: translateZ(-150vw) rotateY(-180deg) rotateX(-90deg);
  }
  100% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
  }
}
@keyframes left-animation {
  0% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
  }
  20% {
    transform: translateZ(-150vw) rotateY(-180deg) rotateX(-90deg);
  }
  30% {
    transform: translateZ(-150vw) rotateY(-180deg) rotateX(-100deg);
  }
  65% {
    transform: translateZ(-150vw) rotateY(-270deg) rotateX(10deg);
  }
  80% {
    transform: translateZ(-150vw) rotateY(-270deg) rotateX(0deg);
  }
  100% {
    transform: translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
  }
}
@keyframes top-animation {
  0% {
    transform: translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
  }
  20% {
    transform: translateZ(-150vw) rotateX(1deg) rotateY(90deg);
  }
  30% {
    transform: translateZ(-150vw) rotateX(6deg) rotateY(90deg);
  }
  65% {
    transform: translateZ(-150vw) rotateX(-95deg) rotateY(90deg);
  }
  80% {
    transform: translateZ(-150vw) rotateX(-90deg) rotateY(90deg);
  }
  100% {
    transform: translateZ(-100vw) rotateX(-90deg) rotateY(90deg);
  }
}
/* 
@keyframes right-animation {

    0% {
        transform: translateZ(-50vw) rotateY(0deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(0deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(5deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-95deg);
    }

    80% {
        transform:

            translateZ(-100vw)rotateY(-90deg);
    }

    100% {
        transform:

            translateZ(-50vw) rotateY(-90deg);
    }
}


@keyframes back-animation {

    0% {
        transform: translateZ(-50vw) rotateY(-90deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(-90deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(-85deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-185deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateY(-180deg);
    }

    100% {
        transform:

            translateZ(-50vw) rotateY(-180deg);
    }
}

@keyframes bottom-animation {

    0% {
        transform: translateZ(-50vw) rotateY(-180deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(-180deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(5deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
    }

    100% {
        transform:

            translateZ(-23vw) rotateY(-180deg) rotateX(-90deg);
    }
}

@keyframes left-animation {

    0% {
        transform: translateZ(-23vw) rotateY(-180deg) rotateX(-90deg);
    }


    20% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
    }

    30% {
        transform: translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateY(-270deg) rotateX(10deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
    }

    100% {
        transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
    }
}

@keyframes top-animation {

    0% {
        transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
    }


    20% {
        transform: translateZ(-100vw) rotateX(1deg) rotateY(90deg);
    }

    30% {
        transform: translateZ(-100vw) rotateX(6deg) rotateY(90deg);
    }

    65% {
        transform:

            translateZ(-100vw) rotateX(-95deg) rotateY(90deg);
    }

    80% {
        transform:

            translateZ(-100vw) rotateX(-90deg) rotateY(90deg);
    }

    100% {
        transform:

            translateZ(-23vw) rotateX(-90deg) rotateY(90deg);
    }
} */
.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(296.76deg, #202020 0.61%, #373737 100%);
  overflow: hidden;
}
.landing .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}
.landing .hero .hello {
  box-sizing: content-box;
  display: flex;
  margin-bottom: 1rem;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello {
    margin-bottom: 5rem;
  }
}
.landing .hero .hello h1 {
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello h1 {
    color: rgb(255, 153, 51);
    font-size: 3vw;
    margin-right: 1rem;
    font-weight: 400;
  }
}
.landing .hero .hello .words {
  overflow: hidden;
  height: 2.8vh;
  background-color: rgb(255, 153, 51);
  border-radius: 0.5rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello .words {
    height: 7vh;
  }
}
.landing .hero .hello .words span {
  display: block;
  color: rgb(51, 51, 51);
  font-size: 1rem;
  font-weight: 800;
  animation: rotating_words 6s infinite;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello .words span {
    font-size: 3vw;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.landing .hero .introduction {
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 50%;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction {
    flex-grow: 1;
    width: 40%;
  }
}
.landing .hero .introduction .me {
  color: rgb(204, 204, 204);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 200;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .me {
    font-size: 2rem;
  }
}
.landing .hero .introduction .me .first-name {
  color: rgb(255, 153, 51);
  font-size: 1rem;
  font-style: italic;
  font-weight: 500;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .me .first-name {
    font-size: 2rem;
  }
}
.landing .hero .introduction .introduction-text {
  font-size: 0.5rem;
  width: 10rem;
  margin: 0rem;
  color: rgb(204, 204, 204);
  font-weight: 200;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .introduction-text {
    font-size: 1rem;
    width: 20rem;
  }
}
.landing .hero .introduction .introduction-text .work-title {
  color: rgb(255, 153, 51);
  font-size: 0.5rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-style: italic;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .introduction-text .work-title {
    font-size: 1rem;
  }
}
.landing .hero .continue {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 6rem;
  position: relative;
}
.landing .hero .continue .match {
  color: rgb(204, 204, 204);
  font-size: 1rem;
  font-weight: 400;
}
.landing .hero .continue .find-out {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
}
.landing .hero .continue .find-out:hover {
  border: 1px solid rgb(255, 153, 51);
  border-radius: 0.5rem;
  cursor: url("src/assets/hover.png"), pointer;
  box-shadow: 0px 0px 5px rgb(255, 204, 153), 0px 0px 0px rgb(255, 204, 0), 0px 0px 0px rgb(255, 204, 0);
}
.landing .hero .continue .landing-line {
  display: none;
  position: absolute;
  left: 66%;
  width: 10rem;
  height: 1px;
  background-color: rgb(255, 153, 51);
  box-shadow: 0px 0px 10px rgb(255, 204, 153), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0);
  animation: landingLine 2.5s forwards;
}
.landing .hero .continue .show-line {
  display: block;
}
.landing .silhouette {
  display: flex;
  flex-direction: column;
}
.landing .silhouette img {
  width: 50%;
  height: auto;
}
@media screen and (min-width: 800px) {
  .landing .silhouette img {
    width: 100%;
  }
}

.about {
  display: flex;
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
}
.about .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .about .about-content .who-card {
    padding-right: 30rem;
  }
}
.about .about-content .who-card .who-title {
  color: rgb(255, 153, 51);
  font-size: 3vw;
  margin-right: 1rem;
  font-weight: 400;
}
.about .about-content .who-card .who-info {
  width: 25rem;
  color: rgb(204, 204, 204);
}
@media screen and (min-width: 800px) {
  .about .about-content .what-card {
    padding-left: 30rem;
  }
}
.about .about-content .what-card .what-title {
  color: rgb(255, 153, 51);
  font-size: 3vw;
  margin-right: 1rem;
  font-weight: 400;
}
.about .about-content .what-card .what-info {
  width: 25rem;
  color: rgb(204, 204, 204);
}
.about .about-content .button-container {
  display: flex;
  align-items: center;
  /* margin-top: auto; */
  margin-bottom: -3rem;
}
.about .about-content .button-container .about-in-line {
  display: block;
  position: absolute;
  left: 0%;
  width: 10rem;
  height: 1px;
  background-color: rgb(255, 153, 51);
  box-shadow: 0px 0px 10px rgb(255, 204, 153), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0);
  animation: aboutInLine 2.5s ease-in-out forwards;
  animation-delay: 1s;
}
.about .about-content .button-container .start {
  position: relative;
  background-color: transparent;
  border: 2px solid rgb(255, 153, 51);
  border-radius: 1rem;
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0px 0px 10px rgb(255, 153, 51), inset 0px 0px 10px rgb(255, 153, 51);
}
.about .about-content .button-container .start:hover {
  box-shadow: 0px 0px 15px rgb(255, 153, 51), inset 0px 0px 15px rgb(255, 153, 51);
}
.about .about-content .button-container .about-line-out {
  animation: aboutLineOut 2.5s forwards;
}

.task-one {
  display: flex;
  /* background: linear-gradient(243.18deg, #202020 0%, #373737 100%); */
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(100%) translateY(-100%);
  /* animation: question-animation 1s forwards ease-in-out; */
}
@keyframes question-animation {
  0% {
    transform: translateX(100%) translateY(0%) rotate(90deg);
  }
  100% {
    transform: translateX(0%) translateY(-100%) rotate(0deg);
  }
}
.task-one h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}
.task-one .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.task-one .questionnaire-form {
  margin-top: 30px;
}
.task-one .question {
  margin-bottom: 20px;
}
.task-one .question p {
  font-weight: bold;
  color: rgb(255, 153, 51);
}
.task-one .question input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.task-one button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.task-one button:hover {
  background-color: #555;
}
.task-one h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.4;
}

.task-two {
  display: flex;
  /* background: linear-gradient(243.18deg, #373737 0%, #202020 100%); */
  align-items: center;
  justify-content: center;
  transform: translateY(-100%) translateX(100%);
  height: 100%;
}
.task-two h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}
.task-two .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.task-two .questionnaire-form {
  margin-top: 30px;
}
.task-two .question {
  margin-bottom: 20px;
}
.task-two .question p {
  font-weight: bold;
  color: rgb(255, 153, 51);
}
.task-two .question input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.task-two button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.task-two button:hover {
  background-color: #555;
}
.task-two h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.4;
}

.task-three {
  display: flex;
  /* background: linear-gradient(243.18deg, #373737 0%, #202020 100%); */
  align-items: center;
  justify-content: center;
  transform: translateX(0%) translateY(-200%);
  height: 100%;
}
.task-three h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}
.task-three .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.task-three .questionnaire-form {
  margin-top: 30px;
}
.task-three .question {
  margin-bottom: 20px;
}
.task-three .question p {
  font-weight: bold;
  color: rgb(255, 153, 51);
}
.task-three .question input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.task-three button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.task-three button:hover {
  background-color: #555;
}
.task-three h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.4;
}

.loading {
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}
.loading button {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.result-greeting {
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.result-greeting h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}

.finish {
  background: linear-gradient(243.18deg, #202020 0%, #373737 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}

header {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
}
header .circle .spinning-img {
  animation: spin 20s linear infinite;
  width: 5em;
}
header .circle:hover .spinning-img {
  animation: spin-hover 1s linear infinite;
  cursor: url("src/assets/cursorHover.png"), pointer;
}
header nav {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
header nav .hamburger-menu {
  display: flex;
  flex-direction: row-reverse;
  background: none;
  border: none;
  flex-wrap: wrap;
  width: 3rem;
}
header nav .hamburger-menu .square {
  border: 1px solid rgb(255, 153, 51);
  border-radius: 6px 0px 6px 0px;
  width: 15px;
  height: 15px;
}
header nav .hamburger-menu .top-left {
  background: transparent;
}
header nav .hamburger-menu .top-right {
  background: transparent;
}
header nav .hamburger-menu .bottom-right {
  background: transparent;
}

.register {
  display: flex;
  /* background: linear-gradient(243.18deg, #373737 0%, #202020 100%); */
  align-items: center;
  justify-content: center;
  height: 100%;
}
.register h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}
.register .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.register .questionnaire-form {
  margin-top: 30px;
}
.register .question {
  margin-bottom: 20px;
}
.register .question p {
  font-weight: bold;
  color: rgb(255, 153, 51);
}
.register .question input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.register button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.register button:hover {
  background-color: #555;
}
.register h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.4;
}

.form {
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
}
.form .form-container {
  height: 100%;
  width: 100%;
  /* transform: translateX(0%) translateY(-100%); */
  /* animation: turn-animation 1s forwards ease-in-out; */
}
.form .question-one {
  animation: question-one-animation 1s forwards ease-in-out;
}
.form .question-two {
  animation: question-two-animation 1s forwards ease-in-out;
}
.form .question-three {
  animation: question-three-animation 1s forwards ease-in-out;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: url("src/assets/cursor5.png"), pointer;
}

.neon-line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(255, 153, 51), rgb(255, 204, 153), rgb(255, 153, 51));
  box-shadow: 0px 0px 10px rgb(255, 204, 0), 0px 0px 15px rgb(255, 204, 0), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0), 0px 0px 30px rgb(255, 204, 0), 0px 0px 40px rgb(255, 204, 0);
}

button {
  cursor: url("src/assets/cursor5.png"), pointer;
  transition: cursor 1s;
}
button:hover {
  cursor: url("src/assets/hover.png"), pointer;
}
button:active {
  cursor: url("src/assets/active.png"), pointer;
}

.slide-up {
  /* transform: translateY(-100%); */
  animation: rotate-left 0.5s linear;
}

.slide-in {
  transform: translateY(0);
}

.slide-out {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

#root {
  height: 100vh;
  width: 100%;
  background-color: rgb(135, 126, 126);
}
#root .wrapper {
  height: 100%;
  width: 100%;
  perspective: 100vw;
  overflow: hidden;
}
#root .wrapper .app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ(-50vw) rotateY(0deg);
}
#root .wrapper .app-face {
  position: absolute;
  height: 100%;
  width: 100%;
  /* opacity: 0.6; */
}
#root .wrapper .landing {
  transform: rotateY(0deg) translateZ(50vw);
}
#root .wrapper .right-animation {
  animation: right-animation 2.5s forwards ease-in-out;
}
#root .wrapper .about {
  transform: rotateY(90deg) translateZ(50vw);
}
#root .wrapper .back-animation {
  animation: back-animation 2.5s forwards ease-in-out;
}
#root .wrapper .form {
  transform: rotateY(180deg) translateZ(50vw);
  overflow: hidden;
}
#root .wrapper .bottom-animation {
  animation: bottom-animation 2.5s forwards ease-in-out;
}
#root .wrapper .loading {
  height: 100vw;
  transform: rotateX(90deg) rotateY(180deg) translateZ(50vh);
}
#root .wrapper .left-animation {
  animation: left-animation 2.5s forwards ease-in-out;
}
#root .wrapper .result-greeting {
  transform: rotateY(-90deg) translateZ(50vw);
}
#root .wrapper .top-animation {
  animation: top-animation 2.5s forwards ease-in-out;
}
#root .wrapper .finish {
  overflow: hidden;
  height: 100vw;
  transform: rotateY(-90deg) rotateX(90deg) translateZ(50vh);
}/*# sourceMappingURL=App.css.map */