@import "mediaquery";
@import "mixins";
@import "landing";
@import "about";
@import "taskone";
@import "tasktwo";
@import "taskthree";
@import "loading";
@import "resultGreeting";
@import "finish";
@import "header";
@import "register";
@import "form";


* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: url('src/assets/cursor5.png'), pointer;

}




.neon-line {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100vh;
    background: linear-gradient(to bottom, $mango-yellow, $muted-yellow, $mango-yellow);
    box-shadow: 0px 0px 10px $warm-yellow, 0px 0px 15px $warm-yellow, 0px 0px 20px $warm-yellow, 0px 0px 25px $warm-yellow, 0px 0px 30px $warm-yellow, 0px 0px 40px $warm-yellow;
}

button {
    cursor: url('src/assets/cursor5.png'), pointer;
    transition: cursor 1s;

    &:hover {
        cursor: url('src/assets/hover.png'), pointer;

    }

    &:active {
        cursor: url('src/assets/active.png'), pointer;
    }
}

a {
    cursor: url('src/assets/cursor5.png'), pointer;
    transition: cursor 1s;

    &:hover {
        cursor: url('src/assets/hover.png'), pointer;

    }

    &:active {
        cursor: url('src/assets/active.png'), pointer;
    }
}



.slide-up {
    /* transform: translateY(-100%); */
    animation: rotate-left 0.5s linear;
}

.slide-in {
    transform: translateY(0);

}

.slide-out {
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
}




#root {
    height: 100vh;
    width: 100%;
    background-color: rgb(135, 126, 126);


    .wrapper {
        height: 100%;
        width: 100%;
        perspective: 100vw;
        overflow: hidden;

        .app-container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            position: relative;
            transform: translateZ(-50vw) rotateY(0deg);
            /*  transform: translateZ(-60vw) rotateX(-90deg) rotateY(90deg); */


        }

        .app-face {
            position: absolute;
            height: 100%;
            width: 100%;
            /* opacity: 0.6; */
        }

        .landing {
            transform: rotateY(0deg) translateZ(50vw);
        }

        .right-animation {
            animation: right-animation 2.5s forwards ease-in-out;
            animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        }

        .about {
            transform: rotateY(90deg) translateZ(50vw);
        }

        .back-animation {
            animation: back-animation 2.5s forwards ease-in-out;
        }

        .form {
            transform: rotateY(180deg) translateZ(50vw);
            overflow: hidden;
        }

        .bottom-animation {
            animation: bottom-animation 2.5s forwards ease-in-out;
        }

        .bottom-animation-desktop {
            animation: bottom-animation-desktop 2.5s forwards ease-in-out;
        }

        .loading {
            height: 100vw;
            transform: rotateX(90deg) rotateY(180deg) translateZ(50vh);


        }

        .left-animation {
            animation: left-animation 2.5s forwards ease-in-out;
        }

        .result-greeting {
            transform: rotateY(-90deg) translateZ(50vw);
        }

        .top-animation {
            animation: top-animation 2.5s forwards ease-in-out;

        }

        .top-animation-desktop {
            animation: top-animation-desktop 2.5s forwards ease-in-out;

        }

        .finish {
            overflow: hidden;
            height: 100vw;
            transform: rotateY(-90deg) rotateX(90deg) translateZ(50vh);

        }
    }
}