/*  Variables */
/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes stop-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotating_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
@keyframes clickAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes question-one-animation {
  0% {
    transform: translateY(0%) rotate(0deg);
  }
  100% {
    transform: translateX(-100%) translateY(0%);
  }
}
@keyframes question-two-animation {
  0% {
    transform: translateX(-100%) translateY(0%);
  }
  100% {
    transform: translateX(-100%) translateY(-100%);
  }
}
@keyframes question-three-animation {
  0% {
    transform: translateX(-100%) translateY(-100%);
  }
  100% {
    transform: translateX(0%) translateY(-100%);
  }
}
@keyframes right-animation {
  0% {
    transform: translateZ(-50vw) rotateY(0deg);
  }
  20% {
    transform: translateZ(-100vw) rotateY(0deg);
  }
  30% {
    transform: translateZ(-100vw) rotateY(5deg);
  }
  65% {
    transform: translateZ(-100vw) rotateY(-95deg);
  }
  80% {
    transform: translateZ(-100vw) rotateY(-90deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
}
@keyframes back-animation {
  0% {
    transform: translateZ(-50vw) rotateY(-90deg);
  }
  20% {
    transform: translateZ(-100vw) rotateY(-90deg);
  }
  30% {
    transform: translateZ(-100vw) rotateY(-85deg);
  }
  65% {
    transform: translateZ(-100vw) rotateY(-185deg);
  }
  80% {
    transform: translateZ(-100vw) rotateY(-180deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-180deg);
  }
}
@keyframes bottom-animation {
  0% {
    transform: translateZ(-50vw) rotateY(-180deg);
  }
  20% {
    transform: translateZ(-100vw) rotateY(-180deg);
  }
  30% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(5deg);
  }
  65% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
  }
  80% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
  }
  100% {
    transform: translateZ(-45vw) rotateY(-180deg) rotateX(-90deg);
  }
}
@keyframes bottom-animation-desktop {
  0% {
    transform: translateZ(-50vw) rotateY(-180deg);
  }
  20% {
    transform: translateZ(-100vw) rotateY(-180deg);
  }
  30% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(5deg);
  }
  65% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
  }
  80% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
  }
  100% {
    transform: translateZ(-23vw) rotateY(-180deg) rotateX(-90deg);
  }
}
@keyframes left-animation {
  0% {
    transform: translateZ(-23vw) rotateY(-180deg) rotateX(-90deg);
  }
  20% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-90deg);
  }
  30% {
    transform: translateZ(-100vw) rotateY(-180deg) rotateX(-100deg);
  }
  65% {
    transform: translateZ(-100vw) rotateY(-270deg) rotateX(10deg);
  }
  80% {
    transform: translateZ(-100vw) rotateY(-270deg) rotateX(0deg);
  }
  100% {
    transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
  }
}
@keyframes top-animation {
  0% {
    transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
  }
  20% {
    transform: translateZ(-100vw) rotateX(1deg) rotateY(90deg);
  }
  30% {
    transform: translateZ(-100vw) rotateX(6deg) rotateY(90deg);
  }
  65% {
    transform: translateZ(-100vw) rotateX(-95deg) rotateY(90deg);
  }
  80% {
    transform: translateZ(-100vw) rotateX(-90deg) rotateY(90deg);
  }
  100% {
    transform: translateZ(-45vw) rotateX(-90deg) rotateY(90deg);
  }
}
@keyframes top-animation-desktop {
  0% {
    transform: translateZ(-50vw) rotateY(-270deg) rotateX(0deg);
  }
  20% {
    transform: translateZ(-100vw) rotateX(1deg) rotateY(90deg);
  }
  30% {
    transform: translateZ(-100vw) rotateX(6deg) rotateY(90deg);
  }
  65% {
    transform: translateZ(-100vw) rotateX(-95deg) rotateY(90deg);
  }
  80% {
    transform: translateZ(-100vw) rotateX(-90deg) rotateY(90deg);
  }
  100% {
    transform: translateZ(-23vw) rotateX(-90deg) rotateY(90deg);
  }
}
.landing {
  display: flex;
  background: linear-gradient(296.76deg, #202020 0.61%, #373737 100%);
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media screen and (min-width: 800px) {
  .landing {
    flex-direction: row;
  }
}
.landing .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}
@media screen and (min-width: 800px) {
  .landing .hero {
    justify-content: center;
  }
}
.landing .hero .hello {
  box-sizing: content-box;
  display: flex;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello {
    flex-grow: 1;
    margin-top: 0rem;
    margin-bottom: 5rem;
  }
}
.landing .hero .hello h1 {
  color: rgb(255, 153, 51);
  font-size: 1rem;
  margin-right: 0.3rem;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello h1 {
    font-size: 3vw;
    margin-right: 1rem;
    font-weight: 400;
  }
}
.landing .hero .hello .words {
  overflow: hidden;
  height: 2.3vh;
  background-color: rgb(255, 153, 51);
  border-radius: 0.5rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello .words {
    height: 7vh;
  }
}
.landing .hero .hello .words span {
  display: block;
  color: rgb(51, 51, 51);
  font-size: 1rem;
  font-weight: 800;
  animation: rotating_words 6s infinite;
  padding: 0rem 0.5rem 0rem 0.5rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .hello .words span {
    font-size: 3vw;
    padding: 0rem 0.5rem 0rem 0.5rem;
  }
}
.landing .hero .introduction {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-shadow: 2px 2px 5px rgb(64, 64, 64);
  margin-top: 16rem;
  margin-left: 7rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction {
    flex-grow: 1;
    width: 40%;
    margin-bottom: 0rem;
    margin-top: 0rem;
  }
}
.landing .hero .introduction .me {
  color: rgb(204, 204, 204);
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .me {
    font-size: 2rem;
  }
}
.landing .hero .introduction .me .first-name {
  color: rgb(255, 153, 51);
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .me .first-name {
    font-size: 2rem;
  }
}
.landing .hero .introduction .introduction-text {
  font-size: 0.75rem;
  width: 100%;
  margin: 0rem;
  color: rgb(204, 204, 204);
  font-weight: 300;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .introduction-text {
    font-size: 1rem;
    width: 20rem;
  }
}
.landing .hero .introduction .introduction-text .work-title {
  color: rgb(255, 153, 51);
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 500;
}
@media screen and (min-width: 800px) {
  .landing .hero .introduction .introduction-text .work-title {
    font-size: 1rem;
  }
}
.landing .hero .continue {
  display: flex;
  align-items: center;
  position: relative;
  width: 17rem;
}
@media screen and (min-width: 800px) {
  .landing .hero .continue {
    margin-left: 6rem;
    margin-bottom: 1rem;
    margin-top: 5rem;
  }
}
.landing .hero .continue .match {
  color: rgb(204, 204, 204);
  font-size: 1rem;
  font-weight: 400;
}
.landing .hero .continue .find-out {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border: 1px solid rgb(255, 153, 51);
  border-radius: 0.5rem;
}
.landing .hero .continue .find-out:hover {
  border: 1px solid rgb(255, 153, 51);
  border-radius: 0.5rem;
  cursor: url("src/assets/hover.png"), pointer;
  box-shadow: 0px 0px 5px rgb(255, 204, 153), 0px 0px 0px rgb(255, 204, 0), 0px 0px 0px rgb(255, 204, 0);
}
.landing .silhouette {
  position: absolute;
  left: 0.2rem;
  z-index: -1;
}
@media screen and (min-width: 800px) {
  .landing .silhouette {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}
.landing .silhouette img {
  width: 95%;
  height: auto;
  opacity: 0.7;
}
@media screen and (min-width: 800px) {
  .landing .silhouette img {
    width: 100%;
    opacity: 1;
  }
}

.about {
  display: flex;
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
}
.about .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .about .about-content {
    justify-content: space-around;
  }
}
.about .about-content .who-card {
  margin-top: 0rem;
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .about .about-content .who-card {
    padding-right: 30rem;
    margin-top: 3rem;
  }
}
.about .about-content .who-card .who-title {
  color: rgb(255, 153, 51);
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  .about .about-content .who-card .who-title {
    font-size: 3vw;
  }
}
.about .about-content .who-card .who-info {
  width: 20rem;
  color: rgb(204, 204, 204);
  font-size: 0.75rem;
}
@media screen and (min-width: 800px) {
  .about .about-content .who-card .who-info {
    font-size: 1rem;
    width: 25rem;
  }
}
.about .about-content .who-card .who-info .linkedin {
  color: rgb(255, 153, 51);
  text-decoration: none;
  font-size: 0.75rem;
}
@media screen and (min-width: 800px) {
  .about .about-content .who-card .who-info .linkedin {
    font-size: 1rem;
  }
}
.about .about-content .who-card .who-info .linkedin:hover {
  color: rgb(220, 125, 31);
}
.about .about-content .what-card {
  margin-bottom: 3rem;
}
@media screen and (min-width: 800px) {
  .about .about-content .what-card {
    padding-left: 30rem;
    margin-bottom: 0rem;
  }
}
.about .about-content .what-card .what-title {
  color: rgb(255, 153, 51);
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 800px) {
  .about .about-content .what-card .what-title {
    font-size: 3vw;
  }
}
.about .about-content .what-card .what-info {
  width: 20rem;
  font-size: 0.75rem;
  color: rgb(204, 204, 204);
}
@media screen and (min-width: 800px) {
  .about .about-content .what-card .what-info {
    font-size: 1rem;
    width: 25rem;
  }
}
.about .about-content .what-card .what-info span {
  color: rgb(255, 153, 51);
  font-size: 0.75rem;
}
@media screen and (min-width: 800px) {
  .about .about-content .what-card .what-info span {
    font-size: 1rem;
  }
}
.about .about-content .button-container {
  display: flex;
  align-items: center;
}
.about .about-content .button-container .start {
  position: relative;
  background-color: transparent;
  border: 1px solid rgb(255, 153, 51);
  border-radius: 0.5rem;
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;
}
.about .about-content .button-container .start:hover {
  box-shadow: 0px 0px 5px rgb(255, 204, 153), 0px 0px 0px rgb(255, 204, 0), 0px 0px 0px rgb(255, 204, 0);
}

.task-one {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(100%) translateY(-100%);
}
@keyframes question-animation {
  0% {
    transform: translateX(100%) translateY(0%) rotate(90deg);
  }
  100% {
    transform: translateX(0%) translateY(-100%) rotate(0deg);
  }
}
.task-one h1 {
  color: rgb(255, 153, 51);
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .task-one h1 {
    font-size: 2rem;
  }
}
.task-one .container {
  width: 25rem;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .task-one .container {
    width: 40rem;
  }
}
.task-one .questionnaire-form .question {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.task-one .questionnaire-form .question .checkboxes {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 800px) {
  .task-one .questionnaire-form .question .checkboxes {
    width: 60vw;
  }
}
.task-one .questionnaire-form .question .checkboxes .custom-checkbox {
  color: rgb(255, 153, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .task-one .questionnaire-form .question .checkboxes .custom-checkbox {
    margin: 2rem;
    width: 15rem;
  }
}
.task-one .questionnaire-form .question .checkboxes .custom-checkbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
  margin: 0.5rem;
}
.task-one .questionnaire-form .question .checkboxes .custom-checkbox input[type=checkbox]:checked {
  background-color: rgb(255, 153, 51);
  border-color: rgb(255, 153, 51);
}
.task-one .questionnaire-form .question .checkboxes .custom-checkbox span {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
.task-one .alert-text {
  color: red;
  margin-bottom: 1rem;
}
.task-one button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.task-one button:hover {
  background-color: #555;
}
.task-one h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.8;
}

.task-two {
  display: flex;
  /* background: linear-gradient(243.18deg, #373737 0%, #202020 100%); */
  align-items: center;
  justify-content: center;
  transform: translateY(-100%) translateX(100%);
  height: 100%;
}
.task-two h1 {
  color: rgb(255, 153, 51);
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .task-two h1 {
    font-size: 2rem;
  }
}
.task-two .container {
  width: 25rem;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .task-two .container {
    width: 40rem;
  }
}
.task-two .questionnaire-form .question {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.task-two .questionnaire-form .question .checkboxes {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 800px) {
  .task-two .questionnaire-form .question .checkboxes {
    width: 60vw;
  }
}
.task-two .questionnaire-form .question .checkboxes .custom-checkbox {
  color: rgb(255, 153, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .task-two .questionnaire-form .question .checkboxes .custom-checkbox {
    margin: 2rem;
    width: 15rem;
  }
}
.task-two .questionnaire-form .question .checkboxes .custom-checkbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
  margin: 0.5rem;
}
.task-two .questionnaire-form .question .checkboxes .custom-checkbox input[type=checkbox]:checked {
  background-color: rgb(255, 153, 51);
  border-color: rgb(255, 153, 51);
}
.task-two .questionnaire-form .question .checkboxes .custom-checkbox span {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
.task-two .alert-text {
  color: red;
  margin-bottom: 1rem;
}
.task-two button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.task-two button:hover {
  background-color: #555;
}
.task-two h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.8;
}

.task-three {
  display: flex;
  /* background: linear-gradient(243.18deg, #373737 0%, #202020 100%); */
  align-items: center;
  justify-content: center;
  transform: translateX(0%) translateY(-200%);
  height: 100%;
}
.task-three h1 {
  color: rgb(255, 153, 51);
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .task-three h1 {
    font-size: 2rem;
  }
}
.task-three .container {
  width: 25rem;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .task-three .container {
    width: 40rem;
  }
}
.task-three .questionnaire-form .question {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.task-three .questionnaire-form .question .checkboxes {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 800px) {
  .task-three .questionnaire-form .question .checkboxes {
    width: 60vw;
  }
}
.task-three .questionnaire-form .question .checkboxes .custom-checkbox {
  color: rgb(255, 153, 51);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10rem;
  margin: 1rem;
}
@media screen and (min-width: 800px) {
  .task-three .questionnaire-form .question .checkboxes .custom-checkbox {
    margin: 2rem;
    width: 15rem;
  }
}
.task-three .questionnaire-form .question .checkboxes .custom-checkbox input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 8px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 50%;
  margin: 0.5rem;
}
.task-three .questionnaire-form .question .checkboxes .custom-checkbox input[type=checkbox]:checked {
  background-color: rgb(255, 153, 51);
  border-color: rgb(255, 153, 51);
}
.task-three .questionnaire-form .question .checkboxes .custom-checkbox span {
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
.task-three .alert-text {
  color: red;
  margin-bottom: 1rem;
}
.task-three button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.task-three button:hover {
  background-color: #555;
}
.task-three h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.8;
}

.loading {
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading .loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loading .loading-content h1 {
  color: rgb(255, 153, 51);
  font-size: 3vw;
}
.loading .loading-content h1 .dots {
  display: inline-block;
  font-size: 1.5rem;
  width: 1rem;
}
.loading .loading-content h1 .dots:after {
  content: "";
  animation: loading-animation 1.5s infinite;
}
@keyframes loading-animation {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
.loading .loading-content button {
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.result-greeting {
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
}
.result-greeting .greeting-content .show-content {
  display: flex;
  flex-direction: column;
}
.result-greeting .greeting-content .show-content h1 {
  color: rgb(204, 204, 204);
  font-size: 4rem;
  font-weight: 300;
  margin: -0.1rem;
}
@media screen and (min-width: 800px) {
  .result-greeting .greeting-content .show-content h1 {
    font-size: 3vw;
  }
}
.result-greeting .greeting-content .show-content h1 .username {
  font-size: 4rem;
  color: rgb(255, 153, 51);
  font-weight: 500;
}
@media screen and (min-width: 800px) {
  .result-greeting .greeting-content .show-content h1 .username {
    font-size: 3vw;
  }
}
.result-greeting .greeting-content .show-content .paragraph-1 {
  color: rgb(204, 204, 204);
  width: 80vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0rem;
}
@media screen and (min-width: 800px) {
  .result-greeting .greeting-content .show-content .paragraph-1 {
    width: 25vw;
  }
}
.result-greeting .greeting-content .show-content .paragraph-1 .role {
  font-size: 1rem;
  color: rgb(255, 153, 51);
  font-weight: 500;
}
.result-greeting .greeting-content .show-content .paragraph-1 .company {
  font-size: 1rem;
  color: rgb(255, 153, 51);
  font-weight: 500;
}
.result-greeting .greeting-content .show-content .paragraph-2 {
  color: rgb(204, 204, 204);
  width: 80vw;
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
  padding: 0rem;
}
@media screen and (min-width: 800px) {
  .result-greeting .greeting-content .show-content .paragraph-2 {
    width: 25vw;
  }
}
.result-greeting .greeting-content .show-content .result-link {
  color: rgb(204, 204, 204);
  opacity: 1;
  animation: slide-in-animation 0.5s ease-in-out forwards;
  padding: 0rem;
}
.result-greeting .greeting-content .show-content .result-link button {
  background-color: transparent;
  color: rgb(255, 153, 51);
  font-style: italic;
  border: none;
  padding: 0;
}
.result-greeting .greeting-content .show-content .result-link button:hover {
  color: rgb(255, 204, 153);
}

.finish {
  background: linear-gradient(243.18deg, #202020 0%, #373737 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.finish .result {
  color: rgb(255, 153, 51);
  font-size: 0.875rem;
  margin-top: -1rem;
}
@media screen and (min-width: 800px) {
  .finish .result {
    font-size: 2rem;
    margin-top: 0rem;
  }
}
.finish .answers {
  display: flex;
  flex-direction: row;
  width: 15rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  .finish .answers {
    flex-direction: row;
    width: 80vw;
  }
}
.finish .answers .answers-block {
  display: flex;
  flex-direction: column;
  margin: 0rem;
  color: rgb(204, 204, 204);
  padding: 0.1rem;
  border-radius: 1rem;
}
@media screen and (min-width: 800px) {
  .finish .answers .answers-block {
    margin: 3rem 4rem 3rem 4rem;
    padding: 1rem;
    border: rgb(255, 153, 51) 1px solid;
  }
}
.finish .answers .answers-block .question-check {
  color: rgb(220, 125, 31);
  align-self: center;
  margin: 0.5rem 0.5rem 0.1rem 0.5rem;
  font-size: 0.35rem;
  text-decoration: underline;
  text-underline-offset: 0.1rem;
}
@media screen and (min-width: 800px) {
  .finish .answers .answers-block .question-check {
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
}
.finish .answers .answers-block .user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 800px) {
  .finish .answers .answers-block .user-box {
    flex-direction: row;
  }
}
.finish .answers .answers-block .user-box .user {
  color: rgb(255, 204, 0);
  font-size: 0.3rem;
}
@media screen and (min-width: 800px) {
  .finish .answers .answers-block .user-box .user {
    font-size: 0.75rem;
    margin-right: 0.3rem;
  }
}
.finish .answers .answers-block .user-box .answer {
  color: white;
  font-size: 0.3rem;
}
@media screen and (min-width: 800px) {
  .finish .answers .answers-block .user-box .answer {
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }
}
.finish .finish-message {
  color: rgb(204, 204, 204);
}
.finish .finish-message h2 {
  color: rgb(255, 153, 51);
  font-size: 0.35rem;
  width: 30vw;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .finish .finish-message h2 {
    font-size: 1rem;
  }
}
.finish .finish-message p {
  color: rgb(204, 204, 204);
}
.finish .email {
  background-color: white;
  height: 15vh;
  width: 40vw;
  margin: 0rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .finish .email {
    margin: 4rem;
    height: 30vh;
    width: 50vw;
  }
}
.finish .email h3 {
  font-size: 0.35rem;
  margin: 0.1rem;
}
@media screen and (min-width: 800px) {
  .finish .email h3 {
    font-size: 0.75rem;
  }
}
.finish .email .row {
  margin-top: 0rem;
  width: 100%;
  border-top: solid 1px rgb(32, 32, 32);
}
.finish .email span {
  font-size: 0.35rem;
  color: rgb(204, 204, 204);
}
@media screen and (min-width: 800px) {
  .finish .email span {
    font-size: 0.75rem;
    color: rgb(102, 102, 102);
  }
}
.finish .email .from {
  border-radius: 0.4rem 0.4rem 0rem 0rem;
}
.finish .email .subject {
  border-bottom: solid 1px rgb(32, 32, 32);
}
.finish .email .mail-content-box {
  margin: 0.1rem;
  align-self: flex-start;
}
.finish .email .mail-content-box .mail-content {
  font-size: 0.35rem;
}
@media screen and (min-width: 800px) {
  .finish .email .mail-content-box .mail-content {
    font-size: 0.75rem;
  }
}
.finish button {
  position: relative;
  background-color: transparent;
  border: 1px solid rgb(255, 153, 51);
  border-radius: 1rem;
  color: rgb(255, 153, 51);
  font-size: 0.35rem;
  line-height: 0.5rem;
  font-weight: 500;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  text-align: center;
  box-shadow: 0px 0px 5px rgb(255, 153, 51), inset 0px 0px 5px rgb(255, 153, 51);
  margin: 0.5rem;
}
@media screen and (min-width: 800px) {
  .finish button {
    border: 2px solid rgb(255, 153, 51);
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    margin: 0rem;
  }
}
.finish button:hover {
  box-shadow: 0px 0px 15px rgb(255, 153, 51), inset 0px 0px 15px rgb(255, 153, 51);
}

header {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
}
header .circle .spinning-img {
  animation: spin 20s linear infinite;
  width: 3em;
}
@media screen and (min-width: 800px) {
  header .circle .spinning-img {
    width: 5em;
  }
}
header .circle:hover .spinning-img {
  animation-play-state: paused;
  cursor: url("src/assets/cursorHover.png"), pointer;
}
header .squares {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
header .squares img {
  width: 2rem;
}
@media screen and (min-width: 800px) {
  header .squares img {
    width: 3rem;
  }
}

.register {
  display: flex;
  /* background: linear-gradient(243.18deg, #373737 0%, #202020 100%); */
  align-items: center;
  justify-content: center;
  height: 100%;
}
.register .container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.register .container .header-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.register .container .header-text h1 {
  color: rgb(255, 153, 51);
  font-size: 1rem;
}
@media screen and (min-width: 800px) {
  .register .container .header-text h1 {
    font-size: 3vw;
  }
}
.register .container .header-text .info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.register .container .header-text .info .info-button {
  width: 1.2rem;
  border-radius: 50%;
  background-color: rgb(255, 153, 51);
  color: rgb(51, 51, 51);
  font-weight: 800;
}
.register .container .header-text .info .info-button:hover {
  background-color: rgb(220, 125, 31);
}
.register .container .header-text .info .popup {
  position: absolute;
  bottom: 5rem;
  right: 0rem;
  color: rgb(255, 153, 51);
  border-radius: 0.5rem;
}
@media screen and (min-width: 800px) {
  .register .container .header-text .info .popup {
    bottom: 1rem;
    right: 20rem;
  }
}
.register .container .questionnaire-form {
  margin-top: 30px;
}
.register .container .questionnaire-form .question {
  margin-bottom: 20px;
}
.register .container .questionnaire-form .question p {
  font-weight: bold;
  color: rgb(255, 153, 51);
}
.register .container .questionnaire-form .question input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
}
.register .container .questionnaire-form button {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 153, 51);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.register .container .questionnaire-form button:hover {
  background-color: #555;
}
.register .container h2 {
  color: rgb(255, 153, 51);
  margin: 2rem;
  opacity: 0.8;
}

.form {
  background: linear-gradient(243.18deg, #373737 0%, #202020 100%);
}
.form .form-container {
  height: 100%;
  width: 100%;
  /* transform: translateX(0%) translateY(-100%); */
  /* animation: turn-animation 1s forwards ease-in-out; */
}
.form .question-one {
  animation: question-one-animation 1s forwards ease-in-out;
}
.form .question-two {
  animation: question-two-animation 1s forwards ease-in-out;
}
.form .question-three {
  animation: question-three-animation 1s forwards ease-in-out;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: url("src/assets/cursor5.png"), pointer;
}

.neon-line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(255, 153, 51), rgb(255, 204, 153), rgb(255, 153, 51));
  box-shadow: 0px 0px 10px rgb(255, 204, 0), 0px 0px 15px rgb(255, 204, 0), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0), 0px 0px 30px rgb(255, 204, 0), 0px 0px 40px rgb(255, 204, 0);
}

button {
  cursor: url("src/assets/cursor5.png"), pointer;
  transition: cursor 1s;
}
button:hover {
  cursor: url("src/assets/hover.png"), pointer;
}
button:active {
  cursor: url("src/assets/active.png"), pointer;
}

a {
  cursor: url("src/assets/cursor5.png"), pointer;
  transition: cursor 1s;
}
a:hover {
  cursor: url("src/assets/hover.png"), pointer;
}
a:active {
  cursor: url("src/assets/active.png"), pointer;
}

.slide-up {
  /* transform: translateY(-100%); */
  animation: rotate-left 0.5s linear;
}

.slide-in {
  transform: translateY(0);
}

.slide-out {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

#root {
  height: 100vh;
  width: 100%;
  background-color: rgb(135, 126, 126);
}
#root .wrapper {
  height: 100%;
  width: 100%;
  perspective: 100vw;
  overflow: hidden;
}
#root .wrapper .app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  position: relative;
  transform: translateZ(-50vw) rotateY(0deg);
  /*  transform: translateZ(-60vw) rotateX(-90deg) rotateY(90deg); */
}
#root .wrapper .app-face {
  position: absolute;
  height: 100%;
  width: 100%;
  /* opacity: 0.6; */
}
#root .wrapper .landing {
  transform: rotateY(0deg) translateZ(50vw);
}
#root .wrapper .right-animation {
  animation: right-animation 2.5s forwards ease-in-out;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
}
#root .wrapper .about {
  transform: rotateY(90deg) translateZ(50vw);
}
#root .wrapper .back-animation {
  animation: back-animation 2.5s forwards ease-in-out;
}
#root .wrapper .form {
  transform: rotateY(180deg) translateZ(50vw);
  overflow: hidden;
}
#root .wrapper .bottom-animation {
  animation: bottom-animation 2.5s forwards ease-in-out;
}
#root .wrapper .bottom-animation-desktop {
  animation: bottom-animation-desktop 2.5s forwards ease-in-out;
}
#root .wrapper .loading {
  height: 100vw;
  transform: rotateX(90deg) rotateY(180deg) translateZ(50vh);
}
#root .wrapper .left-animation {
  animation: left-animation 2.5s forwards ease-in-out;
}
#root .wrapper .result-greeting {
  transform: rotateY(-90deg) translateZ(50vw);
}
#root .wrapper .top-animation {
  animation: top-animation 2.5s forwards ease-in-out;
}
#root .wrapper .top-animation-desktop {
  animation: top-animation-desktop 2.5s forwards ease-in-out;
}
#root .wrapper .finish {
  overflow: hidden;
  height: 100vw;
  transform: rotateY(-90deg) rotateX(90deg) translateZ(50vh);
}/*# sourceMappingURL=App.css.map */