/*  Variables */
/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-hover {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(900deg);
  }
}
@keyframes rotating_words {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
@keyframes clickAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-left {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes lineAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes lineHideAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
    display: none;
  }
}
@keyframes lineShowAnimation {
  0% {
    transform: translateX(100vw);
    display: block;
  }
  100% {
    transform: translateX(0);
  }
}
.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: linear-gradient(296.76deg, #202020 0.61%, #373737 100%);
  overflow: hidden;
}
.landing .hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 100%;
}
.landing .hero .hello {
  box-sizing: content-box;
  display: flex;
  margin-bottom: 5rem;
}
.landing .hero .hello h1 {
  color: rgb(255, 153, 51);
  font-size: 3rem;
  margin-right: 1rem;
  font-weight: 400;
}
.landing .hero .hello .words {
  overflow: hidden;
  height: 7vh;
  background-color: rgb(255, 153, 51);
  border-radius: 0.5rem;
}
.landing .hero .hello .words span {
  display: block;
  color: rgb(51, 51, 51);
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  animation: rotating_words 6s infinite;
  padding: 0rem 0.5rem 0rem 0.5rem;
  text-align: center;
}
.landing .hero .introduction .me {
  color: rgb(204, 204, 204);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 200;
}
.landing .hero .introduction .me .first-name {
  color: rgb(255, 153, 51);
  font-size: 2rem;
  font-style: italic;
  font-weight: 500;
}
.landing .hero .introduction .introduction-text {
  font-size: 1rem;
  width: 20rem;
  margin: 0rem;
  color: rgb(204, 204, 204);
  font-weight: 200;
}
.landing .hero .introduction .introduction-text .work-title {
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-style: italic;
}
.landing .hero .continue {
  display: flex;
  align-items: center;
}
.landing .hero .continue .match {
  color: rgb(204, 204, 204);
  font-size: 1rem;
  /*  line-height: 1.5rem; */
  font-weight: 400;
}
.landing .hero .continue .find-out {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
}
.landing .hero .continue .find-out:hover {
  border: 1px solid rgb(255, 204, 153);
  border-radius: 0.5rem;
  cursor: url("src/assets/hover.png"), pointer;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 0px 0px 10px rgb(255, 204, 153), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0);
  box-shadow: 0px 0px 10px rgb(255, 204, 0);
}
.landing .hero .continue .line-horizontal {
  width: 10rem;
  height: 1px;
  background: linear-gradient(to bottom, rgb(255, 153, 51), rgb(255, 204, 153), rgb(255, 153, 51));
  box-shadow: 0px 0px 10px rgb(255, 204, 0), 0px 0px 15px rgb(255, 204, 0), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0), 0px 0px 30px rgb(255, 204, 0), 0px 0px 40px rgb(255, 204, 0);
  animation: lineAnimation 0.3s ease-in-out forwards;
}
.landing .hero .continue .hide-line {
  display: none;
  transform: translateX(0);
  /* animation-name: lineHideAnimation; */
}
.landing .hero .continue .show-line {
  display: block;
  transform: translateX(100vw);
  /* animation-name: lineShowAnimation; */
}
.landing .silhouette {
  display: flex;
  flex-direction: column;
}
.landing .silhouette img {
  opacity: 1;
}

.about {
  display: flex;
  background: linear-gradient(243.18deg, #202020 0%, #373737 100%);
}
.about .about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.about .about-content .who-card {
  padding-right: 30rem;
}
.about .about-content .who-card .who-title {
  color: black;
  font-size: 3rem;
  margin-right: 1rem;
  font-weight: 400;
}
.about .about-content .who-card .who-info {
  width: 25rem;
}
.about .about-content .what-card {
  padding-left: 30rem;
}
.about .about-content .what-card .what-title {
  color: black;
  font-size: 3rem;
  margin-right: 1rem;
  font-weight: 400;
}
.about .about-content .what-card .what-info {
  width: 25rem;
}
.about .about-content .start {
  position: relative;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 1rem;
  color: rgb(255, 153, 51);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 0.5rem;
  text-align: center;
}
.about .about-content .start:hover {
  border: 1px solid rgb(255, 153, 51);
  border-radius: 0.5rem;
  cursor: url("src/assets/cursorHover.png"), pointer;
  text-shadow: 0px 0px 5px rgb(0, 0, 0), 0px 0px 10px rgb(255, 204, 153), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0);
}

.task-one {
  background-color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.task-one h1 {
  color: black;
}

header {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
}
header .circle .spinning-img {
  animation: spin 20s linear infinite;
  width: 5em;
}
header .circle:hover .spinning-img {
  animation: spin-hover 1s linear infinite;
  cursor: url("src/assets/cursorHover.png"), pointer;
}
header nav {
  display: flex;
  flex-direction: row;
  margin-right: 1rem;
}
header nav .hamburger-menu {
  display: flex;
  flex-direction: row-reverse;
  background: none;
  border: none;
  flex-wrap: wrap;
  width: 3rem;
}
header nav .hamburger-menu .square {
  border: 1px solid rgb(255, 153, 51);
  border-radius: 6px 0px 6px 0px;
  width: 15px;
  height: 15px;
}
header nav .hamburger-menu .top-left {
  background: transparent;
}
header nav .hamburger-menu .top-right {
  background: transparent;
}
header nav .hamburger-menu .bottom-right {
  background: transparent;
}

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: url("src/assets/cursor5.png"), pointer;
}

.cursor-click-animation {
  animation: clickAnimation 0.5s linear;
}

.neon-line {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100vh;
  background: linear-gradient(to bottom, rgb(255, 153, 51), rgb(255, 204, 153), rgb(255, 153, 51));
  box-shadow: 0px 0px 10px rgb(255, 204, 0), 0px 0px 15px rgb(255, 204, 0), 0px 0px 20px rgb(255, 204, 0), 0px 0px 25px rgb(255, 204, 0), 0px 0px 30px rgb(255, 204, 0), 0px 0px 40px rgb(255, 204, 0);
}

button {
  cursor: url("src/assets/cursor5.png"), pointer;
  transition: cursor 1s;
}
button:hover {
  cursor: url("src/assets/hover.png"), pointer;
}
button:active {
  cursor: url("src/assets/active.png"), pointer;
}

.app-container {
  position: relative;
  height: 100vh;
  transition: transform 1.5s ease-in-out;
}
.app-container .landing,
.app-container .about,
.app-container .first-task,
.app-container .second-task,
.app-container .third-task,
.app-container .finish {
  height: 100vh;
  width: 100%;
}

.slide-up {
  /* transform: translateY(-100%); */
  animation: rotate-left 0.5s linear;
}

.slide-in {
  transform: translateY(0);
}

.slide-out {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}/*# sourceMappingURL=App.css.map */